// spacing
.m-center{
  margin: 0 auto;
}

$max: 17;
$spacing-base: 4px;
@for $i from 1 through $max{
  .mb-#{$i}{
    margin-bottom: $i * $spacing-base;
  }
  .me-#{$i}{
    margin-right: $i * $spacing-base;
  }
  .pb-#{$i}{
    padding-bottom: $i * $spacing-base;
  }
}

.pt-7{
  padding-top: 28px;
}

// flex
.flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

// grid
.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-4{
  width: calc(100% / 3);
  padding-left: 12px;
  padding-right: 12px;
}

.col-6{
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.col-8{
  width: calc(100% / 12 * 8);
  padding-left: 12px;
  padding-right: 12px;
}

.offset-2{
  margin-left: calc(100% / 6);
}

// 樣式
$color-map:(
  'primary': #891818,
  'dark': #000000,
  'light': #FFFFFF,
  'gray': #707070
);

$fz-map:(
  '1': $fz-1,
  '2': $fz-2,
  '3': $fz-3,
  '4': $fz-4,
  '5': $fz-5
);

@each $key,$value in $color-map{
  .bg-#{$key}{
    background-color: $value;
    & a{
      color: $c-light;
    }
  }
  .text-#{$key}{
    color: $value;
  }
}

@each $key,$value in $fz-map{
  .fz-#{$key}{
    font-size: $value;
  }
}

.fw-medium{
  font-weight: $fw-medium;
}

.fw-bold{
  font-weight: $fw-bold;
}

.fw-black{
  font-weight: $fw-black;
}

.border-top{
  border-top: 1px solid #000;
}

.text-center{
  text-align: center;
}

.line-height-32{
  line-height: 32px;
}

.inline-block{
  display: inline-block;
}